---
const NAVIGATION = [
  {
    title: "About",
  },
  {
    title: "Last Projects",
  },
  {
    title: "Experience",
  },
  {
    title: "Contact",
  },
];
---

<nav
  id="navbar"
  class="bg-black w-full h-[60px] flex justify-center items-center px-5 border-y-2 border-white z-10 transition-all ease-in-out"
>
  <ul class="flex justify-between w-full max-w-[1440px]">
    {
      NAVIGATION.map((item) => (
        <li>
          <a
            href="/"
            class="hover:text-white text-white md:text-xl text-sm font-medium "
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
